@model WebAppCxC.Balances

@{
    ViewBag.Title = "Delete";
}

<img src="~/Content/chaselogo3.png" style="width:250px;height:150px;">

<h4>¿Desea elimininar este balance?</h4>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha_corte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_corte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Antiguedad_promedio_saldos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Antiguedad_promedio_saldos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clientes.Nombre_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.Nombre_cliente)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <!--<input type="submit" value="Delete" class="btn btn-default" /> |-->
        <button type="submit" class="btn btn-primary">Eliminar</button>
        <button type="button" class="btn btn-outline-secondary"> @Html.ActionLink("Regresar", "Index")</button>
      
    </div>
    }
</div>
