@model IEnumerable<WebAppCxC.Transaccione>

@{
    ViewBag.Title = "Index";
}
<div class="py-3">
    <h2>Transacciones</h2>
</div>
<div class="pb-3">
    <p>
        @Html.ActionLink("Crear nuevo", "Create", null, new { Atributo = "valor", @class = "btn btn-secondary" })
    </p>
</div>

<div class="pb-5">
    <form method="get">
        <input type="text" id="Criterio" name="Criterio" />
        <button type="submit" id="cmdBuscar" value="Buscar" class="btn btn-primary">Buscar</button>
        @Html.ActionLink("Exporta a Excel", "exportaExcel", null, new { Atributo = "valor", @class = "btn btn-success" })
    </form>
</div>

<table class="table table-condensed table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_movimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero_documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nombre_cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Documentos.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_movimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero_documento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nombre_cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_Documentos.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id_transaccion}, new { Atributo = "valor", @class = "btn btn-outline-success" })
            @Html.ActionLink("Detalle", "Details", new { id = item.Id_transaccion }, new { Atributo = "valor", @class = "btn btn-outline-info" })
            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id_transaccion }, new { Atributo = "valor", @class = "btn btn-outline-warning" })
        </td>
    </tr>
}

</table>
